docs/xml_xsd/import_products.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ========
        SIMPLE TYPE
        ============-->

    <xs:simpleType name="PriceType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.01" />
            <xs:maxInclusive value="2000.00" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StockType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="99" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DiscountType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.01" />
            <xs:maxInclusive value="99.9" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryNameType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Smartphones" />
            <xs:enumeration value="Videojuegos" />
            <xs:enumeration value="Componentes PC" />
            <xs:enumeration value="Videoconsolas" />
            <xs:enumeration value="Periféricos" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryIdType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="5" />
        </xs:restriction>
    </xs:simpleType>


    <!-- ========
        COMPLEX TYPE
            ========= -->

    <xs:complexType name="CategoryType">
        <xs:sequence>
            <xs:element name="name" type="CategoryNameType" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="idCategory" type="CategoryIdType" use="optional" />
    </xs:complexType>

    <xs:complexType name="NewProductType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="basePrice" type="PriceType" />
            <xs:element name="urlImage" type="xs:string" />
            <xs:element name="available" type="xs:boolean" minOccurs="0" />
            <xs:element name="category" type="CategoryType" />
            <xs:element name="stock" type="StockType" />
            <xs:element name="releaseDate" type="xs:date" />
        </xs:sequence>
        <xs:attribute name="idProduct" type="xs:integer" use="optional" />
    </xs:complexType>

    <xs:complexType name="UsedProductType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="basePrice" type="PriceType" />
            <xs:element name="urlImage" type="xs:string" />
            <xs:element name="available" type="xs:boolean" minOccurs="1" />
            <xs:element name="category" type="CategoryType" />
            <xs:element name="discountPercentage" type="DiscountType" />
            <xs:element name="remark" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="idProduct" type="xs:integer" use="optional" />
    </xs:complexType>

    <!-- =============
        ROOT ELEMENT
        ============= -->
    <xs:element name="products">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="newProduct" type="NewProductType" />
                <xs:element name="usedProduct" type="UsedProductType" />
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>